<%= form_for(review) do |f| %>

  <div class="field">
    <%= f.label :rating %>
    <%= f.text_field :rating %>
  </div>

  <div class="field">
    <%= f.label :user_post %>
    <%= f.text_area :user_post %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
